body{
    font-family:'Courier New', Courier, monospace;
    background-color: #DEE5DF;
    display:flex;
    align-content: center;
    justify-content: center;
}
body.dark{
    background-color: #051031;
}
#output-screen{
    background-color: #1C7785;
    color: white;
    text-align: center;
    font-size: 48px;
    height: 64px;
}
#output-screen.dark, 
#running-equation.dark{
    background-color: #112959;
}
#running-equation{
    background-color: #1C7785;
    color: white;
    height: 36px;
    padding: 16px;
    text-align: center;
}
#input-buttons{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#function-buttons{
    display:flex;
    flex-direction: row;
}
#calc-body{
    margin-top: 4%;
    background-color: #7EB9BB;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 750px;
    padding: 32px;
    border-radius: 32px;
}
#calc-body.dark{
    background-color: #818DA6;
}
#bottom-buttons{
    display: flex;
    height: 100%;
}
#number-buttons{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
#operator-buttons{
    display: flex;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display:flex;
}
button{
    width: 100px;
    height: 100px;
    font-size: 32px;
    background-color: #EDCECA;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: #E8A5A6;
    margin: 8px;
}
button.dark{
    background-color: #364A73;
    border-color: #112959;
    color: rgb(224, 224, 214);
}
button.xl{
    height: 216px;
}
button.xw{
    width: 216px;
}